<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <section class="cadastro">
        <form action="/cadastro/usuario" method="post">
            <input type="text" name="usuario" placeholder="Usuario...">
            <input type="text" name="nome" placeholder="Nome...">
            <input type="password" name="senha" id="senha" placeholder="Senha...">
            <button type="submit">Entrar</button>
        </form>
        <a href="/login">Já fez uma conta antes? Login</a>
    </section>
</body>
</html>