<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section class="login-tarefas">
        <form action="/login/usuario" method="post">
            <input type="text" name="usuario" id="" placeholder="Usuario...">
            <input type="password" name="senha" id="" placeholder="Senha...">
            <button type="submit">Entrar</button>
        </form>
        <a href="/login">Ainda não um usuário? Cadastre-se já!</a>
    </section>
</body>
</html>